.app_rendering_text h6,
.app_rendering_text .h6,
.app_rendering_text h5,
.app_rendering_text .h5,
.app_rendering_text h4,
.app_rendering_text .h4,
.app_rendering_text h3,
.app_rendering_text .h3,
.app_rendering_text h2,
.app_rendering_text .h2,
.app_rendering_text h1,
.app_rendering_text .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.app_rendering_text h1,
.app_rendering_text .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .app_rendering_text h1,
  .app_rendering_text .h1 {
    font-size: 2.5rem;
  }
}

.app_rendering_text h2,
.app_rendering_text .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .app_rendering_text h2,
  .app_rendering_text .h2 {
    font-size: 2rem;
  }
}

.app_rendering_text h3,
.app_rendering_text .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  .app_rendering_text h3,
  .app_rendering_text .h3 {
    font-size: 1.75rem;
  }
}

.app_rendering_text h4,
.app_rendering_text .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .app_rendering_text h4,
  .app_rendering_text .h4 {
    font-size: 1.5rem;
  }
}

.app_rendering_text h5,
.app_rendering_text .h5 {
  font-size: 1.25rem;
}

.app_rendering_text h6,
.app_rendering_text .h6 {
  font-size: 1rem;
}

.app_rendering_text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.app_rendering_text abbr[title],
.app_rendering_text abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.app_rendering_text address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.app_rendering_text ol,
.app_rendering_text ul {
  padding-left: 2rem;
}

.app_rendering_text ol,
.app_rendering_text ul,
.app_rendering_text dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.app_rendering_text ol ol,
.app_rendering_text ul ul,
.app_rendering_text ol ul,
.app_rendering_text ul ol {
  margin-bottom: 0;
}

.app_rendering_text ul li {
  list-style-type: disc;
}

.app_rendering_text ol li {
  list-style-type: number;
}

.app_rendering_text dt {
  font-weight: 700;
}

.app_rendering_text dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.app_rendering_text blockquote {
  margin: 0 0 1rem;
}

.app_rendering_text b,
.app_rendering_text strong {
  font-weight: bolder;
}

.app_rendering_text small,
.app_rendering_text .small {
  font-size: 0.875em;
}

.app_rendering_text mark,
.app_rendering_text .mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.app_rendering_text sub,
.app_rendering_text sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

.app_rendering_text sub {
  bottom: -0.25em;
}

.app_rendering_text sup {
  top: -0.5em;
}

.app_rendering_text a {
  color: #0d6efd;
  text-decoration: underline;
}

.app_rendering_text a:hover {
  color: #0a58ca;
}

.app_rendering_text a:not([href]):not([class]),
.app_rendering_text a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.app_rendering_text pre,
.app_rendering_text code,
.app_rendering_text kbd,
.app_rendering_text samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

.app_rendering_text pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

.app_rendering_text pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

.app_rendering_text code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

.app_rendering_text a > code {
  color: inherit;
}

.app_rendering_text kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

.app_rendering_text kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

.app_rendering_text figure {
  margin: 0 0 1rem;
}

.app_rendering_text img,
.app_rendering_text svg {
  vertical-align: middle;
}

.app_rendering_text table {
  caption-side: bottom;
  border-collapse: collapse;
}

.app_rendering_text caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

.app_rendering_text th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

.app_rendering_text thead,
.app_rendering_text tbody,
.app_rendering_text tfoot,
.app_rendering_text tr,
.app_rendering_text td,
.app_rendering_text th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
/* This css is for the ckeditor which are used in the managing course while editing -----written by ANUPAM MISHRA */
.ck-editor__editable {
  /* font-size: 1rem;
  margin-bottom: 1rem; */
  background-color: #0a58ca !important;
}